# Tier System

Based on [PEP legacy data fields](https://docs.google.com/document/d/1Qsk7q9GZRt91NSigvEirEWQUdj82B1tGaVYyPKKlE8c/edit?usp=sharing) we place PEPs into different tiers based on whether they have valid data certain data fields: T1, T2, T3, Good Enough, Insufficient, and Rejected. This is different from using a data quality score to compare PEPs since a PEP from tier one can have a lower overall data quality score than a PEP from another tier that has more valid data but fewer of the data fields considered important in our new tier system. In contrast to the data quality score where invalid and missing data are treated the same, in this tier system, we separate cases where we have missing data from invalid cases and treat this as insufficient. 

## Method

The method of scoring the data fields and their validity is either a binary 1 and 0 in cases where we are not required to deal with missing values, as in the case of valid names, and None, 0, 1 for missing, invalid, and valid data fields.

In [21]:
import pandas as pd
import numpy as np
import os
from tabulate import tabulate
%run queries.py
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [22]:
# Load Data
input_directory = '../src/parquet/'
input_files = [f for f in os.listdir(input_directory) if f.endswith('.parquet')]
list_df = []
for input_file in input_files:
    input_file_path = os.path.join(input_directory, input_file)
    data = pd.read_parquet(input_file_path)
    list_df.append(data)

data = pd.concat(list_df).reset_index(drop=True)
data = data.where(pd.notnull(data), None)

In [23]:
#Prepare data
data['_source.sources.source_ids'] = data['_source.sources.source_ids'].apply(lambda x: ', '.join(map(str, x)))
data['completeness'] = data['completeness'].replace(0, 'incomplete')

# Select Sources
LIST_SOURCE_SOURCE_IDS = ['S:FBFYW0 [DBPedia]','S:4CU7GM [PEP Everypolitician]', 'S:8L276A [Manual PEPs]', 'S:1GYJGG [The Official Board]', 'S:MFCNUA [PEP US Diplomat list 2]']
data = data[data['_source.sources.source_ids'].isin(LIST_SOURCE_SOURCE_IDS)]

#Remove RCAs
RCA_DBPEDIA = data[(data['_source.sources.source_ids'] == 'S:FBFYW0 [DBPedia]') & (data['PEP_id'] == False)]
data.drop(RCA_DBPEDIA.index, inplace=True)

## Processing Fields

### Name check

Names are non-negotiable. Either a PEP has a valid name or they do not. We therefore score invalid names 0 and valid names 1.

In [24]:
#Check if name is valid by looking at TOTAL FLAGS > 0. Zero for invalid names and 1 for valid. There are no Null values here
name_check = data['TOTAL_FLAGS'].apply(lambda x: 0 if x > 0 else 1)

### Date of birth

For date of births, we return None for missing values, 0 for invaldi ages that are <18 or >200 and 1 for valid ages

In [25]:
#Birth date (Good enough = valid, t1 - t3 must have the field). Zero if empty or >200 otherwise 1
date_of_birth = data['_source.data.births.age'].apply(lambda x: None if pd.isna(x) else (0 if x <18 or x >= 200 else 1))

### Date of death

For date of death, we return None for missing values, 0 if the person died more than 100 years ago, and 1 if the date of death is valid and less than 100.

In [26]:
date_of_death = data['_source.data.deaths.years_since_death'].apply(lambda x: None if pd.isna(x) else (1 if x <=100 else 0))

### Occupation

We return None when there is no value is either display or occupation fields, 0 if there is but has_occupation is false, and 1 if the occupation is present and a valid PEP occupation.

In [27]:
#Display fields and occupation are None! So to detect insufficient we take None if there's  no data to evaluate in occupations and dispaly. If one has a value we'd check that and incorrect occupation is value does not work. 
occupation = data.apply(lambda row: None if row['has_occupation'] is False and row['_source.data.display_fields.value'] is None and row['_source.data.occupations.occupation'] is None else (0 if row['has_occupation'] == False else 1), axis=1)

### Location

PEPs can be missing a location. In these cases, we return None. When a PEP has a "continent" as it's location, we return 0. There can be more than one value in the location list. As such, we do not invalidate a PEP with a continent and a country as its location. Only PEPs with a continent as the sole value are invalid. 1 is returned for valid location.

In [28]:
#Location check. If None return none. If all values a continent then return 0, else 1. This value is a list of places [] so iterate through each list for each row. 
# Actually we need a Present here. Values: None: None, Present but wrong: 0, Present and not continent: 1
data['source.data.locations.name'] = data['_source.data.locations.name'].apply(lambda x: x.tolist() if x is not None else None) #Convert np.array to list for each row in pd.Series
continents = ['North America', 'South America', 'Europe', 'Asia', 'Africa', 'Oceania', 'Middle East']
location = data['source.data.locations.name'].apply(lambda x: None if x is None else (0 if all(value in continents for value in x) else 1))

### Source URL

None values are returned as None, 0 is for invalid url, and 1 if valid url.

In [29]:
# Source url. None for None values, 0 if all in list invalid url and 1 if valid url 
data['_source.assets.external_urls'] = data['_source.assets.external_urls'].apply(lambda x: x.tolist() if x is not None else None)
reject_urls = ['http://complyadvantage.com','https://complyadvantage.com']
source_url = data['_source.assets.external_urls'].apply(lambda x: None if x is None else (0 if all(url in reject_urls for url in x) else 1))

### PEP Position date

We cannot validate PEP start dates and end dates nor can we reject PEPs solely if one is missing since 90% of PEPs have a missing start or end value. If both are missing we'll return None, if one is missing we'll return 0 and if both are present we return 1

In [30]:
#PEP start date
start_date = data['_source.data.aml_types.start_date'].apply(lambda x: None if all(date is None for date in x) else 1)

In [31]:
#PEP end date
end_date = data['_source.data.aml_types.end_date'].apply(lambda x: None if all(date is None for date in x) else 1)

In [32]:
#None if both missing, 0 ie invalid if one none, 1 if both present
date_checker = lambda start_date, end_date: \
    None if pd.isna(start_date) and pd.isna(end_date) \
    else (0 if not (pd.isna(start_date) or pd.isna(end_date)) \
    else (1 if not (pd.isna(start_date) and pd.isna(end_date)) else None))
position_date = [date_checker(start, end) for start, end in zip(start_date, end_date)]

### Sorting PEPs into tiers

We sort PEPs into our tiers based on whether they meet our conditions.

In [33]:
result = pd.DataFrame({
    "valid_name": name_check,
    "dob": date_of_birth,
    "dod": date_of_death,
    "occupation": occupation,
    "location": location,
    "source_url": source_url, 
    "position_date": position_date,
    })

In [34]:
result['tier'] = None

#Tier 1 has a valid name, a valid dob, date of birth is not invalid but can be null, valid occupation, valid location, valid url, valid start_date
result.loc[(result['valid_name'] == 1) & (result['dob'] == 1) & ~(result['dod'] == 0) & (result['occupation'] == 1) & (result['location'] == 1) & (result['source_url'] == 1) & (result['position_date'] == 1), 'tier'] = 'T1'
#Tier 2 has a valid name, valid date of birth, valid occupation, valid location, valid url, and start_date is not present (ie None)
result.loc[(result['valid_name'] == 1) & (result['dob'] == 1) & ~(result['dod'] == 0) &  (result['occupation'] == 1) & (result['location'] == 1) & (result['source_url'] == 1)  & ~(result['position_date'] == 1 ), 'tier'] = 'T2'
#Tier 3 has a valid name, valid dob, valid occupation, valid location, no location, no start_date
result.loc[(result['valid_name'] == 1) & (result['dob'] == 1) & ~(result['dod'] == 0) & (result['occupation'] == 1) & (result['location'] == 1) & ~(result['source_url'] == 1)  & ~(result['position_date'] == 1), 'tier'] = 'T3'

#Good enough has a valid name, valid date of birth, valid occupation, date of birth is present not validated, location is present not validated, start_date is present not validated 
result.loc[(result['valid_name'] == 1) & (result['dob'] == 1) & ~(pd.isna(result['dod'])) & (result['occupation'] == 1) & ~(pd.isna(result['location'])) & ~(pd.isna(result['source_url'])) & ~(pd.isna(result['position_date'])), 'tier'] = 'Good enough'

#Rejected has either: invalid name, invalid dob, invalid dod, invalid occupation, invdalid location, invalid source_url, invalid start_date
result.loc[(result['valid_name'] == 0) | (result['dob'] == 0) | (result['dod'] == 0) | (result['occupation'] == 0) |  (result['location'] == 0) | (result['source_url'] == 0) | (result['position_date'] == 0), 'tier']  = 'Reject'

#Insufficient
#There are None values in occupation. 
#result.loc[(pd.isna(date_of_birth)) & (pd.isna(date_of_death)) & (pd.isna(location)) & (pd.isna(source_url)) & (pd.isna(position_date)),  'tier']  = 'Insufficient'
#result.loc[(pd.isna(result['dob'])) & (pd.isna(result['occupation'])) & (pd.isna(result['location'])) & (pd.isna(result['source_url'])) & (pd.isna(result['position_date'])),  'tier']  = 'Insufficient'

result['tier'] = result['tier'].fillna('Insufficient')

## Results

~70% of PEP profiles are either insufficient or rejected. These are PEP profiles that would be too difficult to enrich and our recommendation is to delete them.

In [35]:
t = pd.merge(data, result, left_index=True, right_index=True)

In [36]:
custom_order = ['T1', 'T2', 'T3', 'Good enough', 'Reject', 'Insufficient']
count_tier = t.tier.value_counts(dropna=False).reset_index()
count_tier['tier'] = pd.Categorical(count_tier['tier'], categories=custom_order, ordered=True)
count_tier['share'] = count_tier['count'].div(count_tier['count'].sum()).round(3) * 100
count_tier.sort_values(by='tier')

           tier   count  share
3            T1   14366    2.8
4            T2    9623    1.9
2            T3  121849   23.4
5   Good enough     229    0.0
1        Reject  132789   25.5
0  Insufficient  241018   46.4

### Tiers by data quality score

On inspections, PEPs in one of the tiers have a data quality > 0.5.

In [37]:
by_dqs = t.groupby('tier')['score.data_quality'].value_counts().reset_index()
by_dqs['tier'] = pd.Categorical(by_dqs['tier'], categories=custom_order, ordered=True)
by_dqs.sort_values(by='tier')
bins = [0, 0.49, 0.5, float('inf')]
labels = ['<0.5', '0.5', '>=0.5']
by_dqs['score'] = pd.cut(by_dqs['score.data_quality'], bins=bins, labels=labels, right=False)
#by_dqs[(by_dqs['tier'] == 'Insufficient') & (by_dqs['score'] == '>0.5')]
pd.pivot_table(by_dqs, index='tier', columns='score', values='count').round(0).fillna(0)

/tmp/ipykernel_102912/610060206.py:8: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pd.pivot_table(by_dqs, index='tier', columns='score', values='count').round(0).fillna(0)

score            <0.5    0.5    >=0.5
tier
T1                0.0    0.0   4789.0
T2                0.0    0.0   4812.0
T3              524.0    0.0  10982.0
Good enough       0.0    0.0    229.0
Reject         4533.0  719.0   2872.0
Insufficient  15490.0    7.0   6606.0

In [59]:
t1 = create_queries(t[t['tier'] == 'T1'])
t2 = create_queries(t[t['tier'] == 'T2'])
t3 = create_queries(t[t['tier'] == 'T3'])
good_enough = create_queries(t[t['tier'] == 'Good enough'])
rejected = create_queries(t[t['tier'] == 'Reject'])
insufficient = create_queries(t[t['tier'] == 'Insufficient'])

### Trenche breakdown

Based on the table below, we find that age and data quality is a problem in T1, T2. Age is explained by the fact that data quality score considers <18 and >200 invalid ages.

In [60]:
#pd.merge(t1, t2, on='count', how='inner')
t1['t2'] = t2['count']
t1['t3'] = t3['count']
t1['good enough'] = good_enough['count']
t1['rejected'] = rejected['count']
t1['insufficient'] = insufficient['count']
t1 = t1[['index', 'count', 't2', 't3', 'good enough', 'insufficient', 'rejected']].rename(columns={'index': 'invalid', 'count': 't1'})
t1

,invalid,t1,t2,t3,good enough,insufficient,rejected
Tranche,,,,,,,
4.0,"quality, age, name, occupation",0,0,0,0,0,994
3.0,"quality,age, occupation",0,0,0,0,3,67465
,"quality,age, name",0,0,0,0,0,1334
,"quality, name, occupation",0,0,0,0,0,97
,"age, name, occupation",0,0,0,0,0,0
2.0,"quality, age",0,0,0,0,197043,13584
,"quality, occupation",0,0,0,0,21,3283
,"age, name",0,0,0,0,0,179
,"quality, name",0,0,0,0,0,88
,"name, occupation",0,0,0,0,0,21
,"age, occupation",0,0,0,0,0,0
1.0,age,0,0,0,0,28980,2767
,occupation,0,0,0,0,0,13189
,quality,0,0,1049,0,4312,0
,name,0,0,0,0,0,1344

### Insufficient PEPs

PEPs with missing data do not fall into one of the tiers, but since their data is not invalid we label them as insufficient. Below is a table illustrating the missing values that render PEPs insufficient. 
Note, tiers can have also have empty values. PEPs are not required to have dod and are placed in a tier if dod isn't >100 and the PEP meets conditions for one of the tiers.

In [41]:
missing_values_per_group = t.groupby('tier')[['valid_name', 'dob', 'dod', 'occupation', 'location', 'source_url', 'position_date']].apply(lambda x: x.isna().sum())
missing_values_per_group

,valid_name,dob,dod,occupation,location,source_url,position_date
tier,,,,,,,
Good enough,0,0,0,0,0,0,0
Insufficient,0,226026,239627,24,9550,52196,206828
Reject,0,86146,124710,0,1880,30126,67909
T1,0,0,14366,0,0,0,0
T2,0,0,9623,0,0,0,9623
T3,0,0,110591,0,0,121849,121849